@font-face {
    font-family: 'DBsB';
    src: url('../fonts/DMSans-Bold.ttf');
}
@font-face {
    font-family: 'DBsR';
    src: url('../fonts/DMSans-Regular.ttf');
}
@font-face {
    font-family: 'NPS';
    src: url('../fonts/NanumPenScript-Regular.ttf');
}
@font-face {
    font-family: 'RM';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'SMB';
    src: url('../fonts/SpaceMono-Bold.ttf   ');
}